<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PropListings</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a [routerLink]="['/']">Home</a></li>
            <li *ngIf="(af.auth | async)"><a [routerLink]="['/listings']">Listings</a></li>
            <li *ngIf="(af.auth | async)"><a [routerLink]="['/add-listing']">Add Listing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!(af.auth | async)"><a (click)="login()">Login</a></li>
            <li *ngIf="(af.auth | async)"><a (click)="logout()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
